@mixin nav-btn{
    margin-left: 8px;
    padding: 2px 5px;
    background-color: $btn-nav-color;
    border-radius: 3px;
    color: #fff;
    font-size: $mini-font;
    border: none;
}

@mixin hdr-btn{
    margin-left: 8px;
    padding: 2px 5px;
    background-color: $hdr-btn-color;
    border-radius: 3px;
    color: #fff;
    font-size: $mini-font;
}