*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: $font;
}
.page-container{
    width: 100vw;
}
.wrapper{
    width: 1224px;
}
.container-fluid{
    margin: 0 auto;
    width: 100%;
}
.flex{
    display: flex;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}