header{
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    .logo-container:hover{
        cursor: pointer;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            margin-left: 15px;
            a{
                color: $titles-color;
                display: flex;
                align-items: center;
                &:hover{
                    color: $primary-color;
                }
                .btn-hdr{
                    @include hdr-btn;
                }
            }
        }
    }
}