#arrow-down{ 
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 150px 750px 0 750px;
    border-color: #007bff transparent transparent transparent;
}