#arrow-down{ 
    background-color: $info-bckgrd;
    padding-top: 25px;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 750px 0 750px;
    border-color: #fff transparent transparent transparent;
}