// color
$primary-color: #ffab0b;
$secondary-color: #77e6fe;
$hover-nav-color: #a47627;
$btn-nav-color: #f3cb79;
$hdr-items-color: #272a39;


// font
$font: 'Roboto', sans-serif;
$jumbo-title-size: 62px;
$title-size: 26px;
$mini-font: 10px;